@keyframes Morph {

    0%,
    100% {
        border-radius: 50%;
        transform: rotate(0deg);
        background-color: #000;
    }


    50% {
        border-radius: 0%;
        background-color: #f63;
    }

}

/* NAv Bar Circle Animation